.override-pronunciation-modal {
    padding: 1em;
    .elements {
        padding-bottom: 1em;
    }
    .select-section, .record-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            margin: 0 0.5em 0 0.5em;
        }
    }
}
div.p-button.p-component {
    color: #ced4da;
}
.p-selectbutton .p-button.p-highlight {
   background: #3B82F6;
   border-color: #3B82F6;
}