.employee-data {
    padding: 2em;
    table {
        text-align: center;
        th, td {
            border: 1px solid #ccc;
            padding: 0.5em;
        }
    }
    .employee-image {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    i {
        cursor: pointer;
    }
}